<!DOCTYPE HTML>
<html>
<head>
    <title>todo list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--  
    <link rel="stylesheet" type="text/css"	th:href="${urls.getForLookupPath('/bootstrap-3.3.7-dist/css/bootstrap.min.css')}" />
	<link rel="stylesheet" type="text/css"	th:href="${urls.getForLookupPath('/jquery-easyui-1.5.1/themes/gray/easyui.css')}" />
	<link rel="stylesheet" type="text/css"	th:href="${urls.getForLookupPath('/jquery-easyui-1.5.1/themes/icon.css')}" />
	<link rel="stylesheet" type="text/css"	th:href="${urls.getForLookupPath('/mCustomScrollbar-3.1.5/jquery.mCustomScrollbar.min.css')}" />
	<link rel="stylesheet" type="text/css"	th:href="${urls.getForLookupPath('/editor.md-1.5.0/css/editormd.min.css')}" />

	<script type="text/javascript" charset="utf-8" th:src="${urls.getForLookupPath('/jquery-2.1.1/jquery.min.js')}" ></script>
	<script type="text/javascript" charset="utf-8" th:src="${urls.getForLookupPath('/jquery-easyui-1.5.1/jquery.easyui.min.js')}" ></script>
	<script type="text/javascript" charset="utf-8" th:src="${urls.getForLookupPath('/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js')}" ></script>
	<script type="text/javascript" charset="utf-8" th:src="${urls.getForLookupPath('/bootstrap-3.3.7-dist/js/bootstrap.min.js')}" ></script>
	<script type="text/javascript" charset="utf-8" th:src="${urls.getForLookupPath('/mCustomScrollbar-3.1.5/jquery.mCustomScrollbar.concat.min.js')}" ></script>
	<script type="text/javascript" charset="utf-8" th:src="${urls.getForLookupPath('/editor.md-1.5.0/editormd.js')}" ></script>
	-->
	
    <link rel="stylesheet" type="text/css"	href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"	href="/jquery-easyui-1.5.1/themes/gray/easyui.css" />
	<link rel="stylesheet" type="text/css"	href="/jquery-easyui-1.5.1/themes/icon.css" />
	<link rel="stylesheet" type="text/css"	href="/mCustomScrollbar-3.1.5/jquery.mCustomScrollbar.min.css" />
	<link rel="stylesheet" type="text/css"	href="/editor.md-1.5.0/css/editormd.min.css" />

	<script type="text/javascript" charset="utf-8" src="/jquery-2.1.1/jquery.min.js" ></script>
	<script type="text/javascript" charset="utf-8" src="/jquery-easyui-1.5.1/jquery.easyui.min.js" ></script>
	<script type="text/javascript" charset="utf-8" src="/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js" ></script>
	<script type="text/javascript" charset="utf-8" src="/bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
	<script type="text/javascript" charset="utf-8" src="/mCustomScrollbar-3.1.5/jquery.mCustomScrollbar.concat.min.js" ></script>
	<script type="text/javascript" charset="utf-8" src="/editor.md-1.5.0/editormd.js" ></script>
	
</head>
<body id="selfBody" class="easyui-layout">

<div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">
	<a href="#" id="shutdownBtn" >关闭服务</a>
</div>
<div data-options="region:'west',split:true,title:'West',border:false" style="width:200px;padding:1px;">
<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'north',split:false" style="height:77px;overflow:hidden">
	<div class="easyui-panel" title=" " style="width:100%;padding:0px;" data-options="closable:false,tools:'#tt'">
	<a href="#" class="easyui-linkbutton" style="border:0px;border-radius:0px;width:100%" >最新的文档</a>
	<a href="#" class="easyui-linkbutton" style="border:0px;border-radius:0px;width:100%;" onclick="showFolderTree();" >我的文件夹</a>
	</div>
	</div>
	<div id="folderdivId" data-options="region:'center'" >
		<div style="margin-bottom:0px;fit:true;border:false;plain:true;">
		<ul id="tfolder"></ul>
		</div>
	</div>
	<div data-options="region:'south',border:false" style="height:25px;overflow:hidden">
	<a href="#" class="easyui-linkbutton" style="border:0px;border-radius:0px;width:100%;" >垃圾箱</a>
	</div>
</div>
<div id="tt">
	<a href="javascript:void(0)" class="icon-add" onclick="javascript:addRootFolder();"></a><!-- alert('添加顶级文件夹') -->
	<a href="javascript:void(0)" class="icon-reload" onclick="javascript:reloadFolder();"></a>
	<!-- a href="javascript:void(0)" class="icon-remove" onclick="javascript:alert('删除顶级文件夹')"></a -->
	<!--
	<a href="javascript:void(0)" class="icon-edit" onclick="javascript:alert('edit')"></a>
	<a href="javascript:void(0)" class="icon-cut" onclick="javascript:alert('cut')"></a>
	<a href="javascript:void(0)" class="icon-help" onclick="javascript:alert('help')"></a>
	-->
</div>
</div>
<div id="markdown-east" data-options="region:'east',split:true,title:'East',border:false" style="width:65%;padding:0px;">
	<div id="markdown-editormd" style="width:100%;height:100%;margin: 0px auto 0px;">
		<textarea style="display:none;">###Hello world!</textarea>
	</div>
</div><!-- ,collapsed:true -->
<div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">south region</div>
<div data-options="region:'center',title:'Center',border:false">
<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'north',split:false" style="height:34px;overflow:hidden">
	<input id="searchText" type="text" class="easyui-textbox" data-options="buttonText:'查询',prompt:'Search...'" style="border-radius:0px;width:100%;height:32px;" />
	</div>
	<div id="centerId" data-options="region:'center'" style="overflow:hidden;">
	<div id="titleListId" class="list-group" style="margin-bottom:0px;fit:true;border:false;plain:true">
		<a href="javascript:void(0);" class="list-group-item" title="一个非常长并且不知道该怎么写的测试用的长长的标题"  onclick="javascript:changecolor(this);">
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">一2个非常长并且不知道该怎么写的测试用的长长的标题</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能出来就是来</p>
		</a>
		<a href="javascript:void(0);" class="list-group-item" title="asfasfsadfsadfdasf"  onclick="javascript:changecolor(this);">
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="#" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
	</div>
<!-- 
	<div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
		<div id="titleId" title="About" data-options="href:'/helloWorld'" style="padding:10px"></div>
		<div title="DataGrid" style="padding:5px">
			<table class="easyui-datagrid"
	                data-options="url:'datagrid_data1.json',method:'get',singleSelect:true,fit:true,fitColumns:true">
	            <thead>
	                <tr>
	                    <th data-options="field:'itemid'" width="80">Item ID</th>
	                    <th data-options="field:'productid'" width="100">Product ID</th>
	                    <th data-options="field:'listprice',align:'right'" width="80">List Price</th>
	                    <th data-options="field:'unitcost',align:'right'" width="80">Unit Cost</th>
	                    <th data-options="field:'attr1'" width="150">Attribute</th>
	                    <th data-options="field:'status',align:'center'" width="50">Status</th>
	                </tr>
	            </thead>
	        </table>
	    </div>
	</div>
 -->
	</div>
</div>
</div>

<div id="mm" class="easyui-menu" style="width:120px;">
	<div onclick="addChildFolder()" data-options="iconCls:'icon-add'">添加子文件夹</div>
	<div onclick="deleteFolder()" data-options="iconCls:'icon-remove'">删除文件夹</div>
	<div onclick="updateFolder()" data-options="iconCls:'icon-edit'">文件夹改名</div>
	<div onclick="addlog()" data-options="iconCls:'icon-help'">添加记录</div>
</div>

<div id="mm2" style="width:100px;">
	<div>Help</div>
	<div>Update</div>
	<div>About</div>
</div>
<div id="dlgAddFolder" class="easyui-dialog" title="" style="width:400px;height:200px;padding:10px"
data-options="
    iconCls: 'icon-save',
    buttons: [{
        text:'确定',
        handler:function(){
            $.messager.progress();
        	$('#addFolderForm').form('submit', {
        		url: $('#addFolderForm').attr('action'),
        		onSubmit: function(){
        			var isValid = $(this).form('validate');
        			if (!isValid){
        				$.messager.progress('close');
        			}
        			return isValid;
        		},
        		success: function(){
        			$.messager.progress('close');
        			$('#dlgAddFolder').dialog('close');
		            if ( $('#addFolderType').val() == 'root') {
        				$('#tfolder').tree('reload');
        			} else if ( $('#addFolderType').val() == 'child') {
        				$('#tfolder').tree('reload', $('#tfolder').tree('getSelected').target);
        			} else if ( $('#addFolderType').val() == 'update') {
        				var node = $('#tfolder').tree('getSelected');
						if (node){
							$('#tfolder').tree('update', {
								target: node.target,
								text: $('#folderName').val()
							});
						}
        			}
        			$('#addFolderForm').form('reset');
		            $('#addFolderForm').form('clear');
        		}
        	});
        }
    },{
        text:'取消',
        handler:function(){
            $('#dlgAddFolder').dialog('close');
            $('#addFolderForm').form('reset');
            $('#addFolderForm').form('clear');
        }
    }],
    modal:true,
    closed: true
">
<form id="addFolderForm" action="/addNewFolder" method="post" enctype="multipart/form-data">
<input class="easyui-textbox" id="folderName" name="folderName" style="width:100%" 
       data-options="label:'folderName:',invalidMessage:'文件夹名必须非空且不能重复。',required:true,validType:{ unnull:[1], checkFolderName:['/checkFolderExistsOrNot','folderName','id','#newFolderId'] }" />
<input type="hidden" id="newFolderId" name="id" value="" />
<input type="hidden" id="addFolderType" name="folderType" value="" />
</form>
</div>


<script type="text/javascript" >
/*<![CDATA[*/
function changecolor(obj) {
	$('.list-group-item').attr('style','');
	$(obj).attr('style','background-color:rgba(118, 176, 243, 0.3)');
}
function reloadFolder() {
	$('#tfolder').tree('reload');
}

function showFolderTree(){
	if (!$('#tfolder').attr("style")) {
		$('#tfolder').attr("style","display:none");
	} else if ($('#tfolder').attr("style") == 'display:none') {
		$('#tfolder').attr("style","display:block");
	} else if ($('#tfolder').attr("style") == 'display:block') {
		$('#tfolder').attr("style","display:none");
	}
}

function addRootFolder() {
	$('#dlgAddFolder').dialog({'title':'添加顶级文件夹'});
	$('#addFolderForm').attr("action", "/addNewFolder");
	$('#newFolderId').val('0');
	$('#addFolderType').val('root');
	$('#dlgAddFolder').dialog('open');
	$('#folderName').next('span').find('input').focus();
}
function addChildFolder() {
	$('#dlgAddFolder').dialog({'title':'添加子级文件夹'});
	$('#addFolderForm').attr("action", "/addNewFolder");
	$('#newFolderId').val($('#tfolder').tree('getSelected').id);
	$('#addFolderType').val('child');
	$('#dlgAddFolder').dialog('open');
	$('#folderName').next('span').find('input').focus();
}
function deleteFolder() {
	var id = $('#tfolder').tree('getSelected').id;
	if (1 == id || 2 == id || 3 == id) {
		$.messager.alert('系统信息','此文件夹不能删除！','info');
		return;
	}
	$.messager.confirm('删除文件夹', '确定要删除此文件夹吗？', function(r){
        if (r){
        	$.ajax({
        		type: 'POST',
        		url: '/deleteFolder',
        		data: {'id': $('#tfolder').tree('getSelected').id },
        		dataType: 'json',
        		success: function(data, textStatus){
        			if (true == data) {
	        			$('#tfolder').tree('reload', $('#tfolder').tree('getParent', $('#tfolder').tree('getSelected').target).target);
	        			$.messager.show({
	        				title:'系统信息',
	        				msg:'删除文件夹成功！',
	        				showSpeed:100,
	        				showType:'fade',
	        				timeout:400,
	        				style:{
	        					right:'',
	        					bottom:''
	        				}
	        			});
        			} else {
        				$.messager.show({
	        				title:'系统信息',
	        				msg:'删除文件夹失败！',
	        				showSpeed:100,
	        				showType:'fade',
	        				timeout:400,
	        				style:{
	        					right:'',
	        					bottom:''
	        				}
	        			});
        			}
        		}
        	});
        }
    });
}
function updateFolder() {
	$('#dlgAddFolder').dialog({'title':'修改文件夹名称'});
	$('#addFolderForm').attr("action", "/updateFolderName");
	$('#newFolderId').val($('#tfolder').tree('getSelected').id);
	$('#addFolderType').val('update');
	$('#dlgAddFolder').dialog('open');
	$('#folderName').next('span').find('input').focus();
}
$(document).ready(function(){
	
	$.extend($.fn.validatebox.defaults.rules, {
	    unnull: {
	        validator: function(value, param){
	            value = value.replace(/(^\s*)|(\s*$)/g, "");
	            if (value != null && value != "") {
	                return true;
	            }
	            return false;
	        },
	        message: '请输入至少{0}个非空格字符。'
	    },
	    checkFolderName: {
	        validator: function(value, param){
	    		var tempobj={};
	    		tempobj[param[1]]=value;
	    		tempobj[param[2]]=$(param[3]).val();
	    		var result=$.ajax({url:param[0],dataType:"json",data:tempobj,async:false,cache:false,type:"post"}).responseText;
	    		return result=="true";
	    	},
	        message: '同路径下已经存在同名文件夹。'
	    }
	});
	
	//捕捉链接的点击事件  
	$('#shutdownBtn').click(function(){
		$.ajax({
			type: 'POST',
			url: '/shutdown',
			dataType: 'json',
			success: function(data, textStatus){
				$.messager.show({
    				title:'系统信息',
    				msg:'关闭成功！',
    				showSpeed:100,
    				showType:'fade',
    				timeout:400,
    				style:{
    					right:'',
    					bottom:''
    				}
    			});
			}
		});
	});
	
	$('#tfolder').tree({
	    url: "/getFolders",
	    formatter:function(node){
			return node.text;
		},
		onClick: function(node) {
			alert(node.text);
		},
		onContextMenu: function(e, node){
			e.preventDefault();
			// select the node
			$('#tfolder').tree('select', node.target);
			// display context menu
			$('#mm').menu('show', {
				left: e.pageX,
				top: e.pageY
			});
		}
	});

	$(window).on("load",function(){
		$("#folderdivId").mCustomScrollbar({
			autoDraggerLength:false,
	    	scrollInertia:200, //滚动惯性，0为没惯性
	    	mouseWheel:{
	    		enable: true,
	    		scrollAmount: "auto",
	    		normalizeDelta: true
	    	},
	    	scrollButtons:{ 
	            enable:true,  
	            scrollType:"continuous",  
	            scrollSpeed:"auto",
	            scrollAmount:40  
	        },
	        advanced:{
	            updateOnBrowserResize:true,  
	            updateOnContentResize:true,
	            autoExpandHorizontalScroll:false,
	            autoScrollOnFocus:true,
	            normalizeMouseWheelDelta:false
	         },
	         theme:"minimal-dark"
	    });
		$("#centerId").mCustomScrollbar({
			autoDraggerLength:false,
        	scrollInertia:200, //滚动惯性，0为没惯性
        	mouseWheel:{
        		enable: true,
        		scrollAmount: "auto",
        		normalizeDelta: true
        	},
        	scrollButtons:{ 
                enable:true,  
                scrollType:"continuous",  
                scrollSpeed:"auto",
                scrollAmount:40  
            },
            advanced:{
                updateOnBrowserResize:true,  
                updateOnContentResize:true,
                autoExpandHorizontalScroll:false,
                autoScrollOnFocus:true,
                normalizeMouseWheelDelta:false
             },
             theme:"minimal-dark"
        });
    });

});



var testEditor;
$(function(){
	testEditor = editormd("markdown-editormd", {
          width: "100%",
          height: "100%",
          path : '/editor.md-1.5.0/lib/',
          onresize : function() {
              //this.setMarkdown("state.loaded > bind onresize > window.onresize, editormd watch/unwatch/fullscreen/fullscreenExit/toolbar show|hide " + (new Date).getTime());
              //console.log("onresize =>", this, this.id, this.settings);
              $('#selfBody').layout('resize',{
            	  region: 'east',
            	  width:'80%',
            		height:300
              });
          },
          theme : "default",
          previewTheme : "default",
          editorTheme : "eclipse",
          markdown : "",
          codeFold : true,
          //syncScrolling : false,
          saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
          searchReplace : true,
          //watch : false,                // 关闭实时预览
          htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
          //toolbar  : false,             //关闭工具栏
          //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
          emoji : true,
          taskList : true,
          tocm            : true,         // Using [TOCM]
          tex : true,                   // 开启科学公式TeX语言支持，默认关闭
          flowChart : true,             // 开启流程图支持，默认关闭
          sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
          //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
          //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
          //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
          //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
          //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
          imageUpload : true,
          imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
          imageUploadURL : "./php/upload.php",
          onload : function() {
              console.log('onload', this);
              //this.fullscreen();
              //this.unwatch();
              //this.watch().fullscreen();

              //this.setMarkdown("#PHP");
              //this.width("100%");
              //this.height(480);
              //this.resize("100%", 640);
		}
	});
});

/*]]>*/
</script>


</body>
</html>