<!DOCTYPE HTML>
<html>
<head>
    <title>todo list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- demo
    <link rel="stylesheet" type="text/css"	th:href="${urls.getForLookupPath('/bootstrap-3.3.7-dist/css/bootstrap.min.css')}" />
	<script type="text/javascript" charset="utf-8" th:src="${urls.getForLookupPath('/editor.md-1.5.0/editormd.js')}" ></script>
	-->
	
    <link rel="stylesheet" type="text/css"	href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"	href="/bootstrap-contextmenu-0.3.4/bootstrap-combined.min.css" />
	<link rel="stylesheet" type="text/css"	href="/jquery-easyui-1.5.1/themes/default/easyui.css" />
	<link rel="stylesheet" type="text/css"	href="/jquery-easyui-1.5.1/themes/icon.css" />
	<link rel="stylesheet" type="text/css"	href="/mCustomScrollbar-3.1.5/jquery.mCustomScrollbar.min.css" />

	<script type="text/javascript" charset="utf-8" src="/jquery-2.1.1/jquery.min.js" ></script>
	<script type="text/javascript" charset="utf-8" src="/jquery-easyui-1.5.1/jquery.easyui.min.js" ></script>
	<script type="text/javascript" charset="utf-8" src="/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js" ></script>
	<script type="text/javascript" charset="utf-8" src="/bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
	<script type="text/javascript" charset="utf-8" src="/bootstrap-contextmenu-0.3.4/bootstrap-contextmenu-0.3.4.js" ></script>
	<script type="text/javascript" charset="utf-8" src="/mCustomScrollbar-3.1.5/jquery.mCustomScrollbar.concat.min.js" ></script>
	
</head>
<body id="selfBody" class="easyui-layout">

<div data-options="region:'north',border:false" style="height:60px;background:#398dee;padding:10px">
	<a href="javascript:void(0)" style="color:#fff;font-size:14px" id="shutdownBtn" >关闭服务</a>
</div>
<div data-options="region:'west',split:true,title:' ',border:false" style="width:200px;padding:1px;">
<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'north',split:false" style="height:77px;overflow:hidden">
	<div class="easyui-panel" title=" " style="width:100%;padding:0px;" data-options="closable:false,tools:'#tt'">
	<input type="hidden" id="selectedFolderId" value="" />
	<a href="javascript:void(0)" id="newestFile" class="btn btn-default btn-lg btn-xs" style="border:0px;border-radius:0px;width:100%;padding:2px 12px;" onclick="getLogsOrderbyCreateDtDesc(0);">最新的文档</a>
	<a href="javascript:void(0)" id="myfolder" class="btn btn-default btn-lg btn-xs" style="border:0px;border-radius:0px;width:100%;padding:2px 12px;" onclick="getLogsOrderbyCreateDtDesc(-1);" >我的文件夹</a><!-- showFolderTree(); -->
	</div>
	</div>
	<div id="folderdivId" data-options="region:'center'" style="background-color:#CEE9FF">
		<div style="margin-bottom:0px;fit:true;border:false;plain:true;">
		<ul id="tfolder"></ul>
		</div>
	</div>
	<div data-options="region:'south',border:false" style="height:25px;overflow:hidden">
	<a href="javascript:void(0)" id="crashFolder" class="btn btn-default btn-lg btn-xs" style="border:0px;border-radius:0px;width:100%;padding:2px 12px;" onclick="getLogsOrderbyCreateDtDesc(-2);">垃圾箱</a>
	</div>
</div>
<div id="tt">
	<a href="javascript:void(0)" class="icon-add" onclick="javascript:addRootFolder();"></a><!-- alert('添加顶级文件夹') -->
	<a href="javascript:void(0)" class="icon-reload" onclick="javascript:reloadFolder();"></a>
	<!-- a href="javascript:void(0)" class="icon-remove" onclick="javascript:alert('删除顶级文件夹')"></a -->
	<!--
	<a href="javascript:void(0)" class="icon-edit" onclick="javascript:alert('edit')"></a>
	<a href="javascript:void(0)" class="icon-cut" onclick="javascript:alert('cut')"></a>
	<a href="javascript:void(0)" class="icon-help" onclick="javascript:alert('help')"></a>
	-->
</div>
</div>
<div id="markdown-east" data-options="region:'east',split:true,title:' ',border:false" style="width:65%;padding:0px;">
<!--  
	<div id="markdown-content-div" style="width:100%;height:100%;margin: 0px auto 0px;">
	<div id="markdown-editormd" style="width:100%;height:100%;margin: 0px auto 0px;">
		<textarea id="markdown-content-textarea" style="display:none;">###Hello world!</textarea>
	</div>
	</div>
-->
	<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'north',split:false" style="boder:0px;height:42px;overflow:hidden;background-color:#CEE9FF">
		<!-- div class="easyui-panel" style="padding:0px;boder:0px;width:100%,height:100%" -->
		<input type="hidden" id="selectedLogId" name="selectedLogId" value="" />
		<div class="row">
			<div class="col-md-7" style="padding:0px 0px 0px 15px;">
			<input id="selectedLogTitleId" class="easyui-textbox" style="boder:0px;border-radius:0px 0px 0px 0px;width:100%;height:40px;padding:15px" data-options="prompt:'标题'"/>
			</div>
			<div class="col-md-3" style="padding:5px 0px 5px 0px;">
			<a href="javascript:void(0)" id="markdown-content-click-id" class="easyui-linkbutton c4" style="width:60px;height:30px" onclick="javascript:updateOrSaveMd(this);">编辑</a>
			</div>
		</div>
		<!-- /div -->
	</div>
	<div id="" data-options="region:'center'" style="height:77px;overflow:hidden">
	<iframe id="editorMdContentId" style="border:0px;width:100%;height:100%;position:absolute;left:0;right:0;bottom:0" src=""></iframe>
	</div>
	</div>
</div><!-- ,collapsed:true -->
<div data-options="region:'south',border:true" style="height:100px;background:#CEE9FF;padding:10px;">
<div style="text-align:center"><span class="label label-info" >显示log所在文件夹</span></div>
</div>
<div data-options="region:'center',title:' ',border:false" >
<div class="easyui-layout" data-options="fit:true" >
	<div data-options="region:'north',split:false" style="height:34px;overflow:hidden">
	<input id="searchText" type="text" class="easyui-textbox" data-options="buttonText:'新建',prompt:'Search...'" style="border-radius:0px;width:100%;height:32px;" />
	</div>
	<div id="centerId" data-options="region:'center'" style="overflow:hidden;background-color:#CEE9FF">
	<input type="hidden" name="rownum" id="loglistRownumId" value="20"/>
	<div id="titleListId" class="list-group" style="margin-bottom:0px;fit:true;border:false;plain:true">
		<!-- 
		<a href="javascript:void(0);" class="list-group-item" title="一个非常长并且不知道该怎么写的测试用的长长的标题"  onclick="javascript:changecolor(this);">
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">一2个非常长并且不知道该怎么写的测试用的长长的标题</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能就的内容看看到底能不能出来就是来</p>
		</a>
		<a href="javascript:void(0);" class="list-group-item" title="asfasfsadfsadfdasf"  onclick="javascript:changecolor(this);">
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		<a href="javascript:void(0)" class="list-group-item" title="asfasfsadfsadfdasf"  >
			<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">asfasfsadfsadfdasf</h4>
			<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">asfdasfsaasdfsafdsasafdsafsafdsafasfasdfsaf</p>
		</a>
		-->
	</div>
<!-- 
	<div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
		<div id="titleId" title="About" data-options="href:'/helloWorld'" style="padding:10px"></div>
		<div title="DataGrid" style="padding:5px">
			<table class="easyui-datagrid"
	                data-options="url:'datagrid_data1.json',method:'get',singleSelect:true,fit:true,fitColumns:true">
	            <thead>
	                <tr>
	                    <th data-options="field:'itemid'" width="80">Item ID</th>
	                    <th data-options="field:'productid'" width="100">Product ID</th>
	                    <th data-options="field:'listprice',align:'right'" width="80">List Price</th>
	                    <th data-options="field:'unitcost',align:'right'" width="80">Unit Cost</th>
	                    <th data-options="field:'attr1'" width="150">Attribute</th>
	                    <th data-options="field:'status',align:'center'" width="50">Status</th>
	                </tr>
	            </thead>
	        </table>
	    </div>
	</div>
 -->
	</div>
</div>
</div>

<div id="mm" class="easyui-menu" style="width:120px;">
	<div onclick="addChildFolder()" data-options="iconCls:'icon-add'">添加子文件夹</div>
	<div onclick="deleteFolder()" data-options="iconCls:'icon-remove'">删除文件夹</div>
	<div onclick="updateFolder()" data-options="iconCls:'icon-edit'">文件夹改名</div>
	<div onclick="addlog()" data-options="iconCls:'icon-help'">添加记录</div>
</div>

<div id="logMenuId" style="background-color:2EE9FF">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="javascript:void(0)" id="relationSet" >关联设置</a></li>
    <li><a tabindex="-1" href="javascript:void(0)" id="deleteLog" >删除</a></li>
  </ul>
</div>
<div id="dlgAddFolder" class="easyui-dialog" title="" style="width:400px;height:200px;padding:10px"
data-options="
    iconCls: 'icon-save',
    buttons: [{
        text:'确定',
        handler:function(){
            $.messager.progress();
        	$('#addFolderForm').form('submit', {
        		url: $('#addFolderForm').attr('action'),
        		onSubmit: function(){
        			var isValid = $(this).form('validate');
        			if (!isValid){
        				$.messager.progress('close');
        			}
        			return isValid;
        		},
        		success: function(){
        			$.messager.progress('close');
        			$('#dlgAddFolder').dialog('close');
		            if ( $('#addFolderType').val() == 'root') {
        				$('#tfolder').tree('reload');
        			} else if ( $('#addFolderType').val() == 'child') {
        				$('#tfolder').tree('reload', $('#tfolder').tree('getSelected').target);
        			} else if ( $('#addFolderType').val() == 'update') {
        				var node = $('#tfolder').tree('getSelected');
						if (node){
							$('#tfolder').tree('update', {
								target: node.target,
								text: $('#folderName').val()
							});
						}
        			}
        			$('#addFolderForm').form('reset');
		            $('#addFolderForm').form('clear');
        		}
        	});
        }
    },{
        text:'取消',
        handler:function(){
            $('#dlgAddFolder').dialog('close');
            $('#addFolderForm').form('reset');
            $('#addFolderForm').form('clear');
        }
    }],
    modal:true,
    closed: true
">
<form id="addFolderForm" action="/addNewFolder" method="post" enctype="multipart/form-data">
<input class="easyui-textbox" id="folderName" name="folderName" style="width:100%" 
       data-options="label:'folderName:',invalidMessage:'文件夹名必须非空且不能重复。',required:true,validType:{ unnull:[1], checkFolderName:['/checkFolderExistsOrNot','folderName','id','#newFolderId'] }" />
<input type="hidden" id="newFolderId" name="id" value="" />
<input type="hidden" id="addFolderType" name="folderType" value="" />
</form>
</div>


<script type="text/javascript" >
/*<![CDATA[*/
function changecolor(obj) {
	var selectedLogId = '';
	try{
		selectedLogId = $('#selectedLogId').val();
	}catch(e){selectedLogId='';}
	// 如果是点击的是已经打开过的记录，则不再重新加载
	if(selectedLogId == obj.id){
		return false;
	}
	$('.list-group-item').attr('style','background-color:#CEE9FF;border:1px solid #CCC;');
	$(obj).attr('style','background-color:#2EE9FF');
	$('#markdown-content-click-id').linkbutton({text:"编辑"});
	/*
	if ( $(obj).attr('id')  ==  $('#selectedLogId').val() ) {
		return false;
	}
	*/
	
	// 1.先保存原来已经打开的记录 2.再打开新选中的记录
	// 1.先保存原来已经打开的记录
	var markdownContent = '';
	var iframeId = '';
	
	var hasUpdated = 'false';
	var selectedLogTitle = $('#selectedLogTitleId').textbox('getValue');
	try{
		markdownContent = $(window.parent.document).contents().find("#editorMdContentId")[0].contentWindow.getMarkdown();
	}catch(e){markdownContent='';}
	try{
		iframeId = $($(window.parent.document).contents().find("#editorMdContentId")[0].contentWindow.document).find('#markdownId').val();
	}catch(e){iframeId='';}
	try{
		hasUpdated = $($(window.parent.document).contents().find("#editorMdContentId")[0].contentWindow.document).find('#hasUpdatedId').val();
	}catch(e){hasUpdated = 'false';}
	
	if (''!=iframeId && undefined!=iframeId && iframeId == selectedLogId && Boolean(hasUpdated)) {
		$($(window.parent.document).contents().find("#editorMdContentId")[0].contentWindow.document).find('#hasUpdatedId').val('false');
		//console.log('save');
		// 1.自动保存记录内容
		$.ajax({
			type: 'POST',
			url: '/updateMarkdownEditByLogId',
			data: { 'logId':selectedLogId, "logContent":markdownContent, "logTitle":selectedLogTitle },
			dataType: 'json',
			async: true,
			success: function(data, textStatus){
				$('#'+iframeId).children('.list-group-item-text')[0].innerHTML = (""+markdownContent).replace("<","&lt;").replace("/>","&#47;&gt;");
				// 2.打开新选中的记录
				$('#selectedLogTitleId').textbox('setValue', $(obj).children('.list-group-item-heading')[0].innerHTML );
				$('#selectedLogId').val($(obj).attr('id'));
				var iframeSrc = "/showIframeMarkdownHTMLByLogId?logId=" + $(obj).attr('id')+"&timestamp="+ ((new Date()).getTime()) ;
				$('#editorMdContentId').attr('src', iframeSrc);
			},
			error: function(e) { 
				alert(e); 
			}
		});
	} else {
		//console.log('not save');
		// 2.打开新选中的记录
		$('#selectedLogTitleId').textbox('setValue', $(obj).children('.list-group-item-heading')[0].innerHTML );
		$('#selectedLogId').val($(obj).attr('id'));
		var iframeSrc = "/showIframeMarkdownHTMLByLogId?logId=" + $(obj).attr('id')+"&timestamp="+ ((new Date()).getTime()) ;
		$('#editorMdContentId').attr('src', iframeSrc);
	}
}
function reloadFolder() {
	$('#tfolder').tree('reload');
}

function showFolderTree(){
	if (!$('#tfolder').attr("style")) {
		$('#tfolder').attr("style","display:none");
	} else if ($('#tfolder').attr("style") == 'display:none') {
		$('#tfolder').attr("style","display:block");
	} else if ($('#tfolder').attr("style") == 'display:block') {
		$('#tfolder').attr("style","display:none");
	}
}

function addRootFolder() {
	$('#dlgAddFolder').dialog({'title':'添加顶级文件夹'});
	$('#addFolderForm').attr("action", "/addNewFolder");
	$('#newFolderId').val('0');
	$('#addFolderType').val('root');
	$('#dlgAddFolder').dialog('open');
	$('#folderName').next('span').find('input').focus();
}
function addChildFolder() {
	$('#dlgAddFolder').dialog({'title':'添加子级文件夹'});
	$('#addFolderForm').attr("action", "/addNewFolder");
	$('#newFolderId').val($('#tfolder').tree('getSelected').id);
	$('#addFolderType').val('child');
	$('#dlgAddFolder').dialog('open');
	$('#folderName').next('span').find('input').focus();
}
function deleteFolder() {
	var id = $('#tfolder').tree('getSelected').id;
	if (1 == id || 2 == id || 3 == id) {
		$.messager.alert('系统信息','此文件夹不能删除！','info');
		return;
	}
	$.messager.confirm('删除文件夹', '确定要删除此文件夹吗？', function(r){
        if (r){
        	$.ajax({
        		type: 'POST',
        		url: '/deleteFolder',
        		data: {'id': $('#tfolder').tree('getSelected').id },
        		dataType: 'json',
        		success: function(data, textStatus){
        			if (true == data) {
	        			$('#tfolder').tree('reload', $('#tfolder').tree('getParent', $('#tfolder').tree('getSelected').target).target);
	        			$.messager.show({
	        				title:'系统信息',
	        				msg:'删除文件夹成功！',
	        				showSpeed:100,
	        				showType:'fade',
	        				timeout:400,
	        				style:{
	        					right:'',
	        					bottom:''
	        				}
	        			});
        			} else {
        				$.messager.show({
	        				title:'系统信息',
	        				msg:'删除文件夹失败！',
	        				showSpeed:100,
	        				showType:'fade',
	        				timeout:400,
	        				style:{
	        					right:'',
	        					bottom:''
	        				}
	        			});
        			}
        		}
        	});
        }
    });
}
function updateFolder() {
	$('#dlgAddFolder').dialog({'title':'修改文件夹名称'});
	$('#addFolderForm').attr("action", "/updateFolderName");
	$('#newFolderId').val($('#tfolder').tree('getSelected').id);
	$('#addFolderType').val('update');
	$('#dlgAddFolder').dialog('open');
	$('#folderName').next('span').find('input').focus();
}

function addlog() {
	var selectedFolder = $('#tfolder').tree('getSelected');
	var selectedFolderId = selectedFolder.id;

	$.ajax({
		type: 'POST',
		url: '/addNewLog',
		dataType: 'json',
		data: {'parentFolderId': selectedFolderId},
		success: function(data, textStatus){
			if ("add_succeed" == data.state) {
				getLogsOrderbyCreateDtDesc(selectedFolderId);
			} else if ("add_failed" == data.state) {
				$.messager.show({
    				title:'系统信息',
    				msg:''+data.errorContent,
    				showSpeed:100,
    				showType:'fade',
    				timeout:4000,
    				style:{
    					right:'',
    					bottom:''
    				}
    			});
			}
		},
		error: function(data) {
			$.messager.show({
				title:'系统信息',
				msg:'服务发生错误！',
				showSpeed:100,
				showType:'fade',
				timeout:4000,
				style:{
					right:'',
					bottom:''
				}
			});
		}
	});
}

function getLogsOrderbyCreateDtDesc(folderId) {
	$("#loglistRownumId").val(20);
	if(0 == folderId) {
		$('#newestFile').removeClass("btn btn-default btn-lg btn-xs").addClass("btn btn-primary btn-lg btn-xs");
		$('#myfolder').removeClass("btn btn-primary btn-lg btn-xs").addClass("btn btn-default btn-lg btn-xs");
		$('#crashFolder').removeClass("btn btn-primary btn-lg btn-xs").addClass("btn btn-default btn-lg btn-xs");
	} else if(-1 == folderId) {
		$('#newestFile').removeClass("btn btn-primary btn-lg btn-xs").addClass("btn btn-default btn-lg btn-xs");
		$('#myfolder').removeClass("btn btn-default btn-lg btn-xs").addClass("btn btn-primary btn-lg btn-xs");
		$('#crashFolder').removeClass("btn btn-primary btn-lg btn-xs").addClass("btn btn-default btn-lg btn-xs");
	} else if(-2 == folderId) {
		$('#newestFile').removeClass("btn btn-primary btn-lg btn-xs").addClass("btn btn-default btn-lg btn-xs");
		$('#myfolder').removeClass("btn btn-primary btn-lg btn-xs").addClass("btn btn-default btn-lg btn-xs");
		$('#crashFolder').removeClass("btn btn-default btn-lg btn-xs").addClass("btn btn-primary btn-lg btn-xs");
	}
	// 1.先保存原来已经打开的记录
	var markdownContent = '';
	var iframeId = '';
	var selectedLogId = $('#selectedLogId').val();
	var hasUpdated = 'false';
	var selectedLogTitle = $('#selectedLogTitleId').textbox('getValue');
	try{
		markdownContent = $(window.parent.document).contents().find("#editorMdContentId")[0].contentWindow.getMarkdown();
	}catch(e){markdownContent='';}
	try{
		iframeId = $($(window.parent.document).contents().find("#editorMdContentId")[0].contentWindow.document).find('#markdownId').val();
	}catch(e){iframeId='';}
	try{
		hasUpdated = $($(window.parent.document).contents().find("#editorMdContentId")[0].contentWindow.document).find('#hasUpdatedId').val();
	}catch(e){hasUpdated = 'false';}
	
	if (''!=iframeId && undefined!=iframeId && iframeId == selectedLogId && Boolean(hasUpdated)) {
		$('#'+iframeId).children('.list-group-item-text')[0].innerHTML = (""+markdownContent).replace("<","&lt;").replace("/>","&#47;&gt;");
		$($(window.parent.document).contents().find("#editorMdContentId")[0].contentWindow.document).find('#hasUpdatedId').val('false');
		//console.log('save');
		// 1.自动保存记录内容
		$.ajax({
			type: 'POST',
			url: '/updateMarkdownEditByLogId',
			data: { 'logId':selectedLogId, "logContent":markdownContent, "logTitle":selectedLogTitle },
			dataType: 'json',
			async: true,
			success: function(data, textStatus){
				// do nothing
			},
			error: function(e) { 
				alert(e); 
			}
		});
	}
	// =================================== 获取指定folder下的记录
	if(!folderId){
		folderId = 0;
	}
	$('#selectedFolderId').val(folderId);
	$('#selectedLogId').val('');
	var rownumValue = $('#loglistRownumId').val();
	$.ajax({
		type: 'POST',
		url: '/getLogListByFolderId',
		data: { 'folderId':folderId,"rownum":rownumValue },
		dataType: 'json',
		success: function(data, textStatus){
			//console.log(data);
			if ("get_succeed" == data.state) {
				if (data.counts > 0) {
					$("#loglistRownumId").val(data.counts);
					var listStr = "";
					for (var i=0;i<data.rows.length;i++) {
						//console.log(data.rows[i]);
						listStr += '<a href="javascript:void(0)" id="'+data.rows[i].id+'" class="list-group-item" title="'+ data.rows[i].logTitle +'"  onclick="javascript:changecolor(this);" style="background-color:#CEE9FF;border:1px solid #CCC;">'
								+ '<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">'+ data.rows[i].logTitle +'</h4>'
								+ '<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">'+ data.rows[i].logDesc +'</p>'
								+ '</a>';
					}
					$('#titleListId').html(listStr);
					$("#folderdivId").mCustomScrollbar("update");
					listStr = null;
					
					$('#titleListId').children()[0].click();
					
					for (var i=0; i<$('#titleListId').children().length; i++){
						$($('#titleListId').children()[i]).bind("contextmenu", function(e){
							e.preventDefault();
							return false;
						});
					}
					for (var i=0; i<$('#titleListId').children().length; i++){
						$($('#titleListId').children()[i]).bind("mousedown", function(e){
							if (e.which == 3){
								var tempAtem = this;
								if (folderId == -2) {
									$($('#logMenuId').children()[0]).children()[1].style="display:none";
								} else {
									$($('#logMenuId').children()[0]).children()[1].style="display:block";
								}
								$(this).contextmenu({
							    	target: '#logMenuId',
							    	onItem: function (context, e) {
							    		//console.log(e.target.id);
							    		//console.log(tempAtem);
							    		if ('relationSet' == e.target.id) {
							    			
							    		} else if ('deleteLog' == e.target.id) {
							    			var selectedItemLogId = tempAtem.id;
							    			var selectedItemLogTitle = $($(tempAtem).children()[0]).text();
							    			$.messager.confirm('删除日志', '确定要删除日志【'+selectedItemLogTitle+'】吗？', function(r){
							    		        if (r){
							    		        	$.ajax({
							    		        		type: 'POST',
							    		        		url: '/deleteLogById',
							    		        		data: {'logId': selectedItemLogId },
							    		        		dataType: 'json',
							    		        		success: function(data, textStatus){
							    		        			if ('update_succeed' == data.state) {
							    			        			$(tempAtem).remove();
							    			        			$.messager.show({
							    			        				title:'系统信息',
							    			        				msg:'删除日志成功！',
							    			        				showSpeed:100,
							    			        				showType:'fade',
							    			        				timeout:400,
							    			        				style:{
							    			        					right:'',
							    			        					bottom:''
							    			        				}
							    			        			});
							    		        			} else {
							    		        				$.messager.show({
							    			        				title:'系统信息',
							    			        				msg:'删除日志失败！'+data.errorContent,
							    			        				showSpeed:100,
							    			        				showType:'fade',
							    			        				timeout:400,
							    			        				style:{
							    			        					right:'',
							    			        					bottom:''
							    			        				}
							    			        			});
							    		        			}
							    		        		}
							    		        	});
							    		        }
							    		    });
							    		}
									}
								});
								//console.log(e.which);
							}
						});
					}
				} else if (data.counts == 0) {
					$('#titleListId').html("");
					$("#folderdivId").mCustomScrollbar("update");
					$('#selectedLogTitleId').textbox('setValue','');
					var iframeSrc = "/showIframeMarkdownHTMLByLogId?logId=0&timestamp="+ ((new Date()).getTime()) ;
					$('#editorMdContentId').attr('src', iframeSrc);
					/*
					$.messager.show({
	    				title:'系统信息',
	    				msg: "此文件夹下无数据!",
	    				showSpeed:100,
	    				showType:'fade',
	    				timeout:4000,
	    				style:{
	    					right:'',
	    					bottom:''
	    				}
	    			});
					*/
				}
			} else if ("get_failed" == data.state) {
				$.messager.show({
    				title:'系统信息',
    				msg: data.errorContent+"!",
    				showSpeed:100,
    				showType:'fade',
    				timeout:400,
    				style:{
    					right:'',
    					bottom:''
    				}
    			});
			} else {
				$.messager.show({
    				title:'系统信息',
    				msg:'发生未知问题！',
    				showSpeed:100,
    				showType:'fade',
    				timeout:400,
    				style:{
    					right:'',
    					bottom:''
    				}
    			});
			}
		},
		error: function(e) { 
			alert(e); 
		}
	});
}

function updateOrSaveMd(obj) {
	if ("编辑" == $(obj).linkbutton("options").text) {
		var selectedLogId = $('#selectedLogId').val();
		var iframeSrc = "/showIframeMarkdownEditByLogId?logId=" + selectedLogId + "&timestamp="+ ((new Date()).getTime()) ;
		$('#editorMdContentId').attr('src', iframeSrc);
		$(obj).linkbutton({text:"保存"});
	} else if ("保存" == $(obj).linkbutton("options").text) {
		var markdownContent = $(window.parent.document).contents().find("#editorMdContentId")[0].contentWindow.getMarkdown();
		var iframeId = $($(window.parent.document).contents().find("#editorMdContentId")[0].contentWindow.document).find('#markdownId').val();
		var selectedLogId = $('#selectedLogId').val();
		var selectedLogTitle = $('#selectedLogTitleId').textbox('getValue');
		$($(window.parent.document).contents().find("#editorMdContentId")[0].contentWindow.document).find('#hasUpdatedId').val('false');
		$('#'+iframeId).children('.list-group-item-text')[0].innerHTML = (""+markdownContent).replace("<","&lt;").replace("/>","&#47;&gt;");
		if (selectedLogId == iframeId) {
			$.ajax({
				type: 'POST',
				url: '/updateMarkdownEditByLogId',
				data: { 'logId':selectedLogId, "logContent":markdownContent, "logTitle":selectedLogTitle },
				dataType: 'json',
				success: function(data, textStatus){
					//console.log(data);
					if ("update_db_succeed" == data.state) {
						$.messager.show({
		    				title:'系统信息',
		    				msg: "入库成功但是保存md文件失败!",
		    				showSpeed:100,
		    				showType:'fade',
		    				timeout:3000,
		    				style:{
		    					right:'',
		    					bottom:''
		    				}
		    			});
					} else if ("update_succeed" == data.state) {
						$.messager.show({
		    				title:'系统信息',
		    				msg: "入库及保存md文件都成功!",
		    				showSpeed:100,
		    				showType:'fade',
		    				timeout:3000,
		    				style:{
		    					right:'',
		    					bottom:''
		    				}
		    			});
					} else if ("update_db_failed" == data.state) {
						$.messager.show({
		    				title:'系统信息',
		    				msg: "入库及保存md文件都失败!",
		    				showSpeed:100,
		    				showType:'fade',
		    				timeout:3000,
		    				style:{
		    					right:'',
		    					bottom:''
		    				}
		    			});
					} else if ("update_logid_failed" == data.state) {
						$.messager.show({
		    				title:'系统信息',
		    				msg: data.errorContent + "!",
		    				showSpeed:100,
		    				showType:'fade',
		    				timeout:3000,
		    				style:{
		    					right:'',
		    					bottom:''
		    				}
		    			});
					} else {
						alert("未知错误");
					}
				},
				error: function(e) { 
					alert(e); 
				}
			});
		} else {
			$.messager.show({
				title:'系统信息',
				msg:'选中的日志记录与编辑中的记录不匹配！',
				showSpeed:100,
				showType:'fade',
				timeout:400,
				style:{
					right:'',
					bottom:''
				}
			});
		}
		
	}
}

$(document).ready(function(){

	$.extend($.fn.validatebox.defaults.rules, {
	    unnull: {
	        validator: function(value, param){
	            value = value.replace(/(^\s*)|(\s*$)/g, "");
	            if (value != null && value != "") {
	                return true;
	            }
	            return false;
	        },
	        message: '请输入至少{0}个非空格字符。'
	    },
	    checkFolderName: {
	        validator: function(value, param){
	    		var tempobj={};
	    		tempobj[param[1]]=value;
	    		tempobj[param[2]]=$(param[3]).val();
	    		var result=$.ajax({url:param[0],dataType:"json",data:tempobj,async:false,cache:false,type:"post"}).responseText;
	    		return result=="true";
	    	},
	        message: '同路径下已经存在同名文件夹。'
	    }
	});
	
	//捕捉链接的点击事件  
	$('#shutdownBtn').click(function(){
		$.ajax({
			type: 'POST',
			url: '/shutdown',
			dataType: 'json',
			success: function(data, textStatus){
				$.messager.show({
    				title:'系统信息',
    				msg:'关闭成功！',
    				showSpeed:100,
    				showType:'fade',
    				timeout:400,
    				style:{
    					right:'',
    					bottom:''
    				}
    			});
			}
		});
	});
	
	$('#tfolder').tree({
	    url: "/getFolders",
	    formatter:function(node){
			return node.text;
		},
		onClick: function(node) {
			$('#selectedFolderId').val(node.id);
			getLogsOrderbyCreateDtDesc(node.id);
		},
		onContextMenu: function(e, node){
			e.preventDefault();
			// select the node
			$('#tfolder').tree('select', node.target);
			// display context menu
			$('#mm').menu('show', {
				left: e.pageX,
				top: e.pageY
			});
		}
	});

	$(window).on("load",function(){
		$("#folderdivId").mCustomScrollbar({
			autoDraggerLength:false,
	    	scrollInertia:200, //滚动惯性，0为没惯性
	    	mouseWheel:{
	    		enable: true,
	    		scrollAmount: "auto",
	    		normalizeDelta: true
	    	},
	    	scrollButtons:{ 
	            enable:true,  
	            scrollType:"continuous",  
	            scrollSpeed:"auto",
	            scrollAmount:40  
			},
			advanced:{
	            updateOnBrowserResize:true,  
	            updateOnContentResize:true,
	            autoExpandHorizontalScroll:false,
	            autoScrollOnFocus:true,
	            normalizeMouseWheelDelta:false
			},
			theme:"minimal-dark"
	    });
		$("#centerId").mCustomScrollbar({
			autoDraggerLength:false,
        	scrollInertia:200, //滚动惯性，0为没惯性
        	mouseWheel:{
        		enable: true,
        		scrollAmount: "auto",
        		normalizeDelta: true
        	},
        	scrollButtons:{ 
                enable:true,  
                scrollType:"continuous",  
                scrollSpeed:"auto",
                scrollAmount:40  
            },
			advanced:{
                updateOnBrowserResize:true,  
                updateOnContentResize:true,
                autoExpandHorizontalScroll:false,
                autoScrollOnFocus:true,
                normalizeMouseWheelDelta:false
			},
			callbacks:{
				//onTotalScrollOffset: 10,
				onTotalScroll:function(){
					//console.log("Scrolled to end of content.");
					var folderId = $('#selectedFolderId').val();
					var rownumValue = new Number($('#loglistRownumId').val())+20;
					$.ajax({
						type: 'POST',
						url: '/getLogListByFolderId',
						data: { 'folderId':folderId,"rownum":rownumValue },
						dataType: 'json',
						success: function(data, textStatus){
							//console.log(data);
							if ("get_succeed" == data.state) {
								if (data.counts > 0) {
									$("#loglistRownumId").val(new Number($('#loglistRownumId').val()) + new Number(data.counts));
									var listStr = "";
									for (var i=0;i<data.rows.length;i++) {
										//console.log(data.rows[i]);
										listStr += '<a href="javascript:void(0)" id="'+data.rows[i].id+'" class="list-group-item" title="'+ data.rows[i].logTitle +'"  onclick="javascript:changecolor(this);" style="background-color:#CEE9FF;border:1px solid #CCC;">'
												+ '<h4 class="list-group-item-heading" style="min-height:19px;max-height:19px;overflow:hidden;">'+ data.rows[i].logTitle +'</h4>'
												+ '<p class="list-group-item-text" style="min-height:45px;max-height:45px;overflow:hidden;">'+ data.rows[i].logDesc +'</p>'
												+ '</a>';
									}
									$('#titleListId').html($('#titleListId').html()+listStr);
									$("#folderdivId").mCustomScrollbar("update");
									listStr = null;
									
									//$('#titleListId').children()[0].click();
									
									for (var i=0; i<$('#titleListId').children().length; i++){
										$($('#titleListId').children()[i]).bind("contextmenu", function(e){
											e.preventDefault();
											return false;
										});
									}
									for (var i=0; i<$('#titleListId').children().length; i++){
										$($('#titleListId').children()[i]).bind("mousedown", function(e){
											if (e.which == 3){
												var tempAtem = this;
												if (folderId == -2) {
													$($('#logMenuId').children()[0]).children()[1].style="display:none";
												} else {
													$($('#logMenuId').children()[0]).children()[1].style="display:block";
												}
												$(this).contextmenu({
											    	target: '#logMenuId',
											    	onItem: function (context, e) {
											    		//console.log(e.target.id);
											    		//console.log(tempAtem);
											    		if ('relationSet' == e.target.id) {
											    			
											    		} else if ('deleteLog' == e.target.id) {
											    			var selectedItemLogId = tempAtem.id;
											    			var selectedItemLogTitle = $($(tempAtem).children()[0]).text();
											    			$.messager.confirm('删除日志', '确定要删除日志【'+selectedItemLogTitle+'】吗？', function(r){
											    		        if (r){
											    		        	$.ajax({
											    		        		type: 'POST',
											    		        		url: '/deleteLogById',
											    		        		data: {'logId': selectedItemLogId },
											    		        		dataType: 'json',
											    		        		success: function(data, textStatus){
											    		        			if ('update_succeed' == data.state) {
											    			        			$(tempAtem).remove();
											    			        			$.messager.show({
											    			        				title:'系统信息',
											    			        				msg:'删除日志成功！',
											    			        				showSpeed:100,
											    			        				showType:'fade',
											    			        				timeout:400,
											    			        				style:{
											    			        					right:'',
											    			        					bottom:''
											    			        				}
											    			        			});
											    		        			} else {
											    		        				$.messager.show({
											    			        				title:'系统信息',
											    			        				msg:'删除日志失败！'+data.errorContent,
											    			        				showSpeed:100,
											    			        				showType:'fade',
											    			        				timeout:400,
											    			        				style:{
											    			        					right:'',
											    			        					bottom:''
											    			        				}
											    			        			});
											    		        			}
											    		        		}
											    		        	});
											    		        }
											    		    });
											    		}
													}
												});
												//console.log(e.which);
											}
										});
									}
								} else if (data.counts == 0) {
									/*
									$('#titleListId').html("");
									$("#folderdivId").mCustomScrollbar("update");
									$('#selectedLogTitleId').textbox('setValue','');
									var iframeSrc = "/showIframeMarkdownHTMLByLogId?logId=0&timestamp="+ ((new Date()).getTime()) ;
									$('#editorMdContentId').attr('src', iframeSrc);
									*/
									/*
									$.messager.show({
					    				title:'系统信息',
					    				msg: "此文件夹下无数据!",
					    				showSpeed:100,
					    				showType:'fade',
					    				timeout:4000,
					    				style:{
					    					right:'',
					    					bottom:''
					    				}
					    			});
									*/
								}
							} else if ("get_failed" == data.state) {
								$.messager.show({
				    				title:'系统信息',
				    				msg: data.errorContent+"!",
				    				showSpeed:100,
				    				showType:'fade',
				    				timeout:400,
				    				style:{
				    					right:'',
				    					bottom:''
				    				}
				    			});
							} else {
								$.messager.show({
				    				title:'系统信息',
				    				msg:'发生未知问题！',
				    				showSpeed:100,
				    				showType:'fade',
				    				timeout:400,
				    				style:{
				    					right:'',
				    					bottom:''
				    				}
				    			});
							}
						},
						error: function(e) { 
							alert(e); 
						}
					});
				}/* ,
				onScrollStart: function(){
					console.log("Scrolling.");
				},
				alwaysTriggerOffsets: true */
			},
			theme:"minimal-dark"
        });
    });
	
	$(window).resize(function() {
		//console.log(document.getElementById('selectedLogTitleId').parentNode.children[1].style.width);
		//$('#selectedLogTitleId').textbox('resize', (window.document.body.offsetWidth*0.3)+'px' );
	});
	
	/**
	新增log日志记录
	*/
	$("#searchText").textbox({
		onClickButton:function(){
			$.ajax({
				type: 'POST',
				url: '/addNewLog',
				dataType: 'json',
				success: function(data, textStatus){
					if ("add_succeed" == data.state) {
						getLogsOrderbyCreateDtDesc();
					} else if ("add_failed" == data.state) {
						$.messager.show({
		    				title:'系统信息',
		    				msg:''+data.errorContent,
		    				showSpeed:100,
		    				showType:'fade',
		    				timeout:4000,
		    				style:{
		    					right:'',
		    					bottom:''
		    				}
		    			});
					}
				},
				error: function(data) {
					$.messager.show({
	    				title:'系统信息',
	    				msg:'服务发生错误！',
	    				showSpeed:100,
	    				showType:'fade',
	    				timeout:400,
	    				style:{
	    					right:'',
	    					bottom:''
	    				}
	    			});
				}
			});
		}
	});
	$("#searchText").textbox('textbox').bind('keydown', function(e){
		if (e.keyCode == 13){	// when press ENTER key, accept the inputed value.
			//t.textbox('setValue', $(this).val());
			alert($(this).val());
			// TODO 提交后台进行动态内容查询
		}
	});

	
	$('#newestFile').click();
	
	$('#selectedLogTitleId').textbox('textbox').bind('blur', function(e){
		var selectedLogId = $('#selectedLogId').val();
		var selectedLogItem = $('#'+selectedLogId);
		
		var oldTitle = selectedLogItem.children(".list-group-item-heading").html();
		var newTitle = $('#selectedLogTitleId').textbox('getValue');
		
		selectedLogItem.attr('title', newTitle.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'));
		selectedLogItem.children(".list-group-item-heading").html( newTitle.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;') );
		
		if (oldTitle != newTitle) {
			$.ajax({
				type: 'POST',
				url: '/changeTitle',
				data: { 'logId':selectedLogId, "logTitle":newTitle },
				dataType: 'json',
				success: function(data, textStatus){
					if ("update_succeed" == data.state) {
						//getLogsOrderbyCreateDtDesc();
					} else if ("update_db_failed" == data.state || "update_logid_failed" == data.state) {
						$.messager.show({
		    				title:'系统信息',
		    				msg:''+data.errorContent,
		    				showSpeed:100,
		    				showType:'fade',
		    				timeout:4000,
		    				style:{
		    					right:'',
		    					bottom:''
		    				}
		    			});
					}
				},
				error: function(data) {
					$.messager.show({
	    				title:'系统信息',
	    				msg:'服务发生错误！',
	    				showSpeed:100,
	    				showType:'fade',
	    				timeout:4000,
	    				style:{
	    					right:'',
	    					bottom:''
	    				}
	    			});
				}
			});
		}
	});
});


/*]]>*/
</script>


</body>
</html>